{% extends "mainApp/wrapper.html" %}

{% block content %}
	<!--post view
	{% for i in posts%}
		<h3><a href="">{{ i.title }}</a></h3>
		<h6>{{ i.date_published }}</h6>
	{%  endfor %}-->
	{% for i in posts %}
		<div class="span8">
	    	<h1><a href="{% url 'post_detail' i.category.slug i.slug %}">{{ i.title }}</a></h1>
	    		<p>{{ i.text_preview }}</p>
		    <div>
		        <span class="badge badge-success">Posted {{ i.date_published }}</span>
		        <span class="pull-right"><a href="#">{{ i.user }}</a></span>
		    </div> 
		    <hr>
		</div>
	{% endfor %}

	<div class="pagination">
	    <span class="step-links">
	        {% if posts.has_previous %}
	            <a href="?page=1">&laquo; first</a>
	            <a href="?page={{ posts.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
	        </span>

	        {% if posts.has_next %}
	            <a href="?page={{ posts.next_page_number }}">next</a>
	            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
	        {% endif %}
	    </span>
	</div>
{% endblock %}