{% extends "mainApp/wrapper.html" %}

{% block content %}
	<!--post view
	{% for i in posts%}
		<h3><a href="">{{ i.title }}</a></h3>
		<h6>{{ i.date_published }}</h6>
	{%  endfor %}-->
	{% for i in posts %}
		<div class="span8">
	    	<h1><a href="{% url 'post_detail' i.category.slug i.slug %}">{{ i.title }}</a></h1>
	    		<p>{{ i.text_preview }}</p>
		    <div>
		        <span class="badge badge-success">Posted {{ i.date_published }}</span>
		        <span class="pull-right"><a href="#">{{ i.user }}</a></span>
		    </div> 
		    <hr>
		</div>
	{% endfor %}
{% endblock %}